.list-prezis {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.list-prezis li {
    display: flex;
    box-sizing: border-box;
    width: 33.33%;
    padding: 10px;
    margin: 0;
    text-align: left;
    list-style: none;
}

.list-prezis li.hidden {
    display: none;
}

.list-prezis li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--list-border-color);
    background: var(--list-bg-color);
    text-decoration: none;
}

.list-prezis li a picture {
    display: block;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    background: url('shared/images/loader.gif') #fff 50% 50% no-repeat;
    background-size: 50%;
    font-size: 0;
}

.list-prezis li a img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--list-border-color);
}

.list-prezis li a span,
.list-prezis li a small,
.list-prezis li a strong {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form #order {
    font-size: 15px;
}

.form #order.asc:after {
    content: '▲';
}

.form #order.desc:after {
    content: '▼';
}
