.module-prezis
    #filter.form
        .row
            .six.columns
                label(for='search') Search in titles:
                input#search(type='text')
            .six.columns
                label Order by creation date:
                button#order(data-bind='css: orderDir, click: toggleOrderDir')
    ul.list-prezis(data-bind='foreach: prezis')
        li(data-bind='css: { hidden: hidden}')
            a(data-bind='attr: {href: creator.profileUrl, title: title + " by " + creator.name + ", " + displayDate}',target='_blank')
                strong(data-bind='text: title')
                picture
                    img(data-bind='attr: {src: thumbnail}')
                span(data-bind='text: creator.name')
                small(data-bind='text: displayDate')
